/* Write your CSS here */
* {
  font-family: 'roboto';
}

.background {
  background-image: linear-gradient(to right, #fa7257, #fc63a7);
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading {
  font-size: 45px;
  font-weight: bold;
  color: #ffffff;
  margin: 15px;
}

.button {
  width: 200px;
  height: 40px;
  color: #dd1264;
  background-size: #ffffff;
  border-style: none;
  border-radius: 10px;
  font-size: 15px;
  margin: 20px;
}

.nameBox {
  background-color: #fddddb;
  width: 260px;
  height: 120px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (min-width: 768px) {
  .card {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}
